// Copyright © Citrix Systems, Inc.  All rights reserved.
@import 'theme-default.less';

*,
*:after,
*:before {
    -moz-osx-font-smoothing: grayscale; /* firefox font smoothing css */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F9FB !important;
    color: #485264;
    overflow-x: hidden;
    height: 100%;
    font-family: @primary-font-family;
    text-rendering: optimizeLegibility;
}

a {
    outline: none;
}

.vmid {
    display: inline-block;
    vertical-align: middle;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.active {
    background-color: #fff !important;;
    text-shadow: 0.5px 0 0 #485164;
    color: #485164 !important;
}

.pointer {
    cursor: pointer;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.mar8r {
    margin-right: 8px;
}

.mar16t {
    margin-top: 16px;
}

.mar24t {
    margin-top: 24px;
}

.mar32b {
    margin-bottom: 32px;
}

.mar32t {
    margin-top: 32px;
}

.pad0l {
    padding-left: 0;
}

.pad0r {
    padding-right: 0;
}

.pad20b {
    padding-bottom: 20px;
}

.pad50t {
    padding-top: 50px;
}

.hidden {
    display: none;
}

.overflow-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.nowrap {
    white-space: nowrap;
}

.popover {
    background: #4A5165;
    color: #EFF3F2;
    z-index: 999;// the navbar items's z-index is 1000
}

.popover.bottom .arrow:after {
    border-bottom-color: #4A5165;
}

.table-header {
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    background: #8895AB;
    color: #FFFFFF;
    font-family: @primary-font-family-bold;
    overflow: hidden;
    display: flex;
}

.table-row {
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    background: #FFFFFF;
    color: #485264;
    font-family: @primary-font-family;
    overflow: hidden;
    display: flex;
    margin-bottom: 3px;
}

@media (max-width: 875px) {
    .logo-separator {
        left: 165px;
        top: -40px;
    }

    #lui-logo {
        font-size: 14px;
        left: 190px;
        top: -40px;
    }
}

@media (max-width: 762px) {
    .logo-separator {
        display: none;
    }

    #lui-logo {
        display: none;
    }
}
