// Copyright © Citrix Systems, Inc.  All rights reserved.

// General font family
@primary-font-family: 'citrixsans-regular';
@primary-font-family-bold: 'citrixsans-bold';
@primary-font-family-light: 'citrixsans-light';
@secondary-font-family: 'citrixsans-semibold';
@secondary-font-family-italic: 'citrixsans-italic';
@secondary-font-family-bold-italic: 'citrixsans-bolditalic';

// General colors
@white: #FFFFFF;
@black: #000000;

// Icon colors
@icon-default: #485164;
@icon-white: #ffffff;
@icon-primary: #289ED6;
@icon-orange: #EFA748;
@icon-positive: #44B649;
@icon-negative: #D4522A;

// Detail
@detail-column-title: #6b788b;
@detail-divider-color: #c5cad0;
@detail-error-red: #e4623c;
@detail-expiration-date: #8794aa;
@detail-expiration-red: #e45825;
@detail-word-color: #485264;